.about
  background-color $back-blue
  padding 120px 0 44px
  &__wrapper
    display flex
    justify-content space-between
    padding 22px 0
  &__text
    width 100%
    max-width 463px
    p
      padding-bottom 30px
    .text--lt
      color $black-3
  &__table
    background-image url(../img/background__table.jpg)
    position relative
    padding 90px 132px 78px 80px
    margin-top -46px
    &--image
      position absolute
      top -50px
      left 27.4%
  &__subtitle
    padding-bottom 32px
  &__item
    padding-bottom 55px
    &--title
      margin-bottom 18px
      span 
        font-size 20px
        letter-spacing 0.67px
        line-height 0
    .text--md
      line-height 24px