.header
  background-image url(../img/background-1.jpg)
  background-position center center
  background-size cover
  &__wrapper
    display flex
    justify-content space-between
    padding 48px 0

.logotype
  &__text
    color $black-2
    font-size 20px
    font-weight 400
    line-height 20px
    padding-left 14px
  a
    display flex
    align-items center

.menu
  &__wrapper 
    margin-left 32px
  &__item
    display inline-block
    margin 4px 26px 0 0
    a
      color $black-2
      font-size 13px
      font-weight 500
      letter-spacing 3px
      line-height 20px
      text-transform uppercase
      &:hover
        color $black

.social
  display flex
  justify-content space-between
  margin-top 2px
  a
    display flex
    align-items center
    color $black-2
    font-size 13px
    font-weight 500
    letter-spacing 3px
    line-height 20px
    text-transform uppercase
    &:hover
      color $black
  span 
    position relative
    width 30px
    height 30px
    border-radius 50%
    display flex
    align-items center
    justify-content center
    margin-left 10px

.phone
  &__wrapper
    margin-right 57px
    img 
      transform rotate(140deg)
      position absolute
      top 10px
      left 6px
    span
      background-color #f24949

.login
  &__wrapper
    span
      background-color #475eee
  