.us
  &__wrapper
    padding 120px 0 88px
  &__sides
    display flex
    justify-content space-between
    padding-top 21px
  &__item
    display flex
    justify-content space-between
  &__logotype
    min-width 70px
    margin-right 45px
    margin-top -2px
  &__subtitle
    max-width 420px
    width 100%
    padding-right 15px
    position relative
    &:after
      content ''
      position absolute
      background-image url(../img/grid.png)
      width 125px
      height 126px
      bottom 10px
      left -68px
  &__text
    max-width 234px
    width 100%
    color $black-3
  .hr
    margin 0
    opacity 1
    background-color $back-blue
  &__side
    margin-right 105px
    margin-top -41px
  &__item
    margin-bottom 60px
