$default-font = "Muller", sans-serif
$black = #000
$black-2 = #272830
$black-3 = #211f1e
$gray = rgba(39, 40, 48, .5)
$gray-2 = #a8abc0
$gray-3 = #818499
$white = #fff
$footer-texr = rgba(129, 132, 153, .5)
$back-blue = #edeffc
