.ways
  padding-top 100px
  &__text
    color $black-3
  &__wrapper
    display flex
    justify-content space-between
    padding 60px 40px 97px
  &__logotype
    min-height 43px
  &__item
    display flex
    flex-direction column
    align-items center
    justify-content center